.game-gui-floater {
  position:relative;
  margin: 0 auto;

  width: 0px;
  height: 0px;

  display: inline-block;
}

.game-gui {
  display: grid;
  z-index: 10;
}

.game-gui-layout-web {
  position: absolute;
  margin-left: 50px;
  gap: 20px;
  height: var(--gui-height);
  grid-template-columns: auto;
  grid-template-rows: calc(var(--numpad-key-size) * 4 + 20px) 80px 80px;
}

.game-gui-layout-mobile {
  width: calc(10 * (var(--numpad-key-size) - 5px) + 4.5rem);
  margin-top: 10px;
  position: relative;
  gap: 20px;
  grid-template-columns: 190px calc((10 * (var(--numpad-key-size) - 5px) + 4.5rem) - 195px);
  grid-template-rows: calc(var(--numpad-key-size) - 5px) 80px;
  margin-left: auto;
  margin-right: auto;
}

.gui-numpad {
  display: grid;
  padding: 5px;
  background-color: var(--clr-element);
  height: calc(4 * var(--numpad-key-size) + 15px);
  background-color: var(--clr-element-hover);
  opacity: .5;
  transition: opacity .2s;
  border-radius: 12px;
}

.gui-numpad:hover {
  opacity: 1;
}

.gui-numpad-web {
  gap: 1rem;
  grid-template-columns: repeat(3, var(--numpad-key-size));
  grid-template-rows: repeat(4, var(--numpad-key-size));
}

.gui-numpad-mobile {
  gap: 0.5rem;
  grid-column: 1 / span 2;
  grid-template-columns: repeat(10, calc(var(--numpad-key-size) - 5px));
  grid-template-rows: calc(var(--numpad-key-size) - 5px);
}

.mode-switch-cont {
  margin: 0 auto;
  padding: 3%;
  width: 94%;
  height: var(--mode-switch-btn-size);

  border-radius: 14px;

  display: flex;
  justify-content: space-between;

  background-color: var(--clr-element-hover);
  opacity: .5;
  transition: opacity .2s;
}

.mode-switch-cont:hover {
  opacity: 1;
}

.mode-switch-btn {
  width: var(--mode-switch-btn-size);
  height: var(--mode-switch-btn-size);

  display: flex;

  border-radius: 12px;
  background-color: #e1e1e1;
}

.mode-switch-btn:hover {
  background-color: #d8d8d8;
}

.mode-switch-ind {
  width: var(--mode-switch-btn-size);
  height: var(--mode-switch-btn-size);

  border-radius: 12px;

  position: absolute;

  background-color: blue;

  transition: left .2s;
}

.mode-switch-ind-left {
  left: 3%;
}

.mode-switch-ind-center {
  left: calc(49.5% - calc(var(--mode-switch-btn-size) / 2));
}

.mode-switch-ind-right {
  left: calc(97% - var(--mode-switch-btn-size));
}

.mode-switch-img-cont {
  position: absolute;
  width: 94%;
  height: var(--mode-switch-btn-size);

  display: flex;
  justify-content: space-between;
}

.mode-switch-img {
  width: var(--mode-switch-btn-size);
  height: var(--mode-switch-btn-size);
}

.mode-switch-cont-web {
  margin: 0 auto;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: 50px 30px;
}

.mode-switch-cont-mobile {
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: 50px;
}

.gui-settings {
  width: 100%;
  height: 100%;

  background-color: var(--clr-element-hover);
  opacity: .5;
  transition: opacity .2s;
}

.gui-settings:hover {
  opacity: 1;
}

.numpad-key {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  transition: opacity .2s;
  background-color: #8ebaed;
  color: white;

  font-size: 2rem;
  user-select: none;

  border-radius: 1rem;
}

.numpad-key:hover {
  background-color: #6495cc;
}

.numpad-key:active {
  background-color: #507bad;
}

.numpad-key-del {
  width: calc(calc(var(--numpad-key-size) * 3) + 2rem);
  height: 4rem;
}

:root {
  font-size: 62.5%;
  --mode-switch-btn-size: 5rem;
  --numpad-key-size: 5.5rem;
}
