.game-gui-floater {
  position:relative;
  margin: 0 auto;

  width: 0px;
  height: 0px;

  display: inline-block;
}

.game-gui {
  display: grid;
  z-index: 10;
  position: absolute;
  width: var(--game-gui-width);
  margin-left: 50px;
  gap: 20px;
  height: var(--gui-height);
  grid-template-columns: var(--game-gui-width);
  grid-template-rows: calc(var(--numpad-key-size) * 4 + 20px) calc(var(--mode-switch-btn-size) + 10px) auto;
}

.gui-numpad {
  display: grid;
  padding: 5px;
  background-color: var(--clr-element);
  border-radius: 12px;
  gap: 1rem;
  grid-template-columns: repeat(3, var(--numpad-key-width));
  grid-template-rows: repeat(4, var(--numpad-key-height));
  height: calc(4 * var(--numpad-key-height) + 15px);
  font-size: 2rem;
}

.mode-switch-cont {
  padding: 0.5rem;
  width: calc(var(--game-gui-width) - 10px);
  height: var(--mode-switch-btn-size);

  border-radius: 14px;

  display: flex;
  justify-content: space-between;

  background-color: var(--clr-element);
}

.mode-switch-btn {
  width: var(--mode-switch-btn-size);
  height: var(--mode-switch-btn-size);

  display: flex;

  border-radius: 12px;
  background-color: #e1e1e1;
}

.mode-switch-btn-hover {
  background-color: #d1d1d1;
}

.mode-switch-ind {
  width: var(--mode-switch-btn-size);
  height: var(--mode-switch-btn-size);

  border-radius: 12px;

  position: absolute;

  background-color: var(--clr-btns);

  transition: left .2s;
}

.mode-switch-ind-left {
  left: 5px;
}

.mode-switch-ind-center {
  left: calc((var(--game-gui-width) / 2) - (var(--mode-switch-btn-size) / 2));
}

.mode-switch-ind-right {
  left: calc(var(--game-gui-width) - var(--mode-switch-btn-size) - 5px);
}

.mode-switch-img-cont {
  position: absolute;
  width: calc(var(--game-gui-width) - 10px);
  height: var(--mode-switch-btn-size);

  display: flex;
  justify-content: space-between;
}

.mode-switch-img {
  width: var(--mode-switch-btn-size);
  height: var(--mode-switch-btn-size);
}

.gui-settings {
  width: calc(100% - 10px);
  height: calc(100% - 10px);

  border-radius: 14px;
  padding: 5px;

  background-color: var(--clr-element);
  display: grid;

  /*  WEB SETTINGS */
  font-size: 2rem;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: var(--settings-btn-height) 1px var(--settings-btn-height) var(--settings-btn-height);
}

.gui-settings-btn-full {
  grid-column: span 2;
}

.restart-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: red;
  color: white;

  user-select: none;

  border-radius: 1rem;
}

.gui-settings-spacer {
  width: 100%;
  height: 100%;
}

.numpad-key {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--numpad-key-width);
  height: var(--numpad-key-height);

  background-color: var(--clr-btns);
  color: white;


  user-select: none;

  border-radius: 1rem;
}

.settings-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--clr-btns);
  color: white;


  user-select: none;

  border-radius: 1rem;
}

.settings-btn:hover {
  background-color: var(--clr-btns-hover);
}

.settings-btn:active {
  background-color: var(--clr-btns-active);
}

.numpad-key:hover {
  background-color: var(--clr-btns-hover);
}

.numpad-key:active {
  background-color: var(--clr-btns-active);
}

.numpad-key-del {
  grid-column: span 3;
  height: 4rem;
}

@media screen and (max-width: 40rem){
  .gui-numpad {
    gap: 0.4rem;
    grid-column: 1 / span 2;
    width: calc(100% - 4px);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: var(--numpad-key-height);
  }
  .game-gui {
    width: 98vw;
    margin-top: 40px;
    position: relative;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-columns: var(--game-gui-width) calc(100% - var(--game-gui-width) - 10px);
    grid-template-rows: calc(var(--numpad-key-height) - 5px) calc(var(--mode-switch-btn-height) + 10px);
    margin-left: auto;
    margin-right: auto;
  }
  .game-gui-floater {
    margin: 0;

    width: auto;
    height: auto;
  }
  .numpad-key-del {
    width: var(--numpad-key-width);
    height: var(--numpad-key-height);
  }
  .gui-settings {
    width: calc(100% - 0.4rem);
    gap: 2%;
    grid-template-columns: 18% 18% 29% 29%;
    grid-template-rows: 100%;
    font-size: 1.5rem;
  }
  .gui-settings-btn-full {
    grid-column: span 1;
  }
  .gui-settings-spacer {
    display: none;
  }
}
