@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

body {
  background-color: var(--clr-bg);
  padding: 0;
  margin: 0;
}

.window-cont {
  width: auto;
  height: auto;
}

.click-collector {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 0px;
  top: 0px;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: calc(var(--sudoku-size) + 15px);
  text-align: center;
  margin-top: 40px;

  font-family: 'Lato', sans-serif;
  font-weight: 400;
  z-index: -1;
}


.grid-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  height: 45px;
  width: 200px;
  border-radius: 10px;
  z-index: 2;

  font-size: 2.5rem;
  color: var(--clr-font-timer);

  background-color: var(--clr-element);
  transition: box-shadow .2s;

  user-select: none;
}

.grid-header:hover {
  background-color: var(--clr-element-hover);
}

.grid-header:active {
  background-color: var(--clr-element-active);
}

.grid-container {
  position: relative;
  display: inline-grid;

  width: calc(var(--sudoku-size) + 10px);
  height: auto;

  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 0.2rem;

  border: 2px solid var(--clr-grid);
  border-radius: 7px;
  overflow: hidden;

  background-color: var(--clr-grid);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);

  z-index: 5;
}

.sub-container {
  display: grid;
  grid-template-columns: repeat(3, var(--cell-size));
  grid-template-rows: repeat(3, var(--cell-size));
  gap: 1px;

  background-color: var(--clr-grid);
}

.cell , .cell-selected, .cell-locked, .cell-sub-selected {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--clr-btns-hover);
  font-size: var(--cell-font-size);

  user-select: none;

  background-color: var(--clr-bg);
}

.cell-corners-cont {
  width: 100%;
  height: 100%;

  display: grid;
  /* grid: auto-flow; */
  grid-template-rows: repeat(3, calc(var(--cell-size) / 3));
  grid-template-columns: repeat(3, calc(var(--cell-size) / 3));
  /* grid-template-areas: "a b c" "d d d" "e f g"; */
}

.cell-center {
  grid-column: 1 / span 3;
  font-size: var(--cell-font-size-center);
  /* grid-area: "d"; */
}

.cell-corner {
  font-size: var(--cell-font-size-corner);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  background-color: var(--clr-grid-hover);
}

.cell-selected {
  background-color: var(--clr-highlight);
}

.cell-sub-selected {
  background-color: var(--clr-grid-hover);
}

.cell-locked {
  color: var(--clr-font-main);
}

.pause-plate {
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(var(--sudoku-size) + 10px);
  height: calc(var(--sudoku-size) + 10px);
  background-color: var(--clr-element);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #bbb;
}

:root {
  font-size: 62.5%;
  --cell-size: 6rem;
  --box-size: calc(var(--cell-size) * 3);
  --sudoku-size: calc(var(--cell-size) * 9);
  --mode-switch-btn-size: 5rem;
  --numpad-key-height: 5.5rem;
  --numpad-key-width: 5.5rem;
  --game-gui-width: 19.5rem;
  --settings-btn-height: 4rem;

  --cell-font-size: 3.5rem;
  --cell-font-size-center: 1.7rem;
  --cell-font-size-corner: 1.5rem;

  /* COLOUR SCHEMES  */
  /* LIGHT MODE */
  --clr-bg: #fff;
  --clr-grid: #aaa;
  --clr-grid-hover: #eee;
  --clr-highlight: #FFE4AA;
  --clr-element-hover: #e1e1e1;
  --clr-element: #f1f1f1;
  --clr-element-active: #d1d1d1;
  --clr-btns-hover: #2f5dad;
  --clr-btns: #3870d1;
  --clr-btns-active: #24498a;

  --clr-font-main: #333;
  --clr-font-secondary: #5885b0;
  --clr-font-timer: #555;
}

@media screen and (max-width: 40rem) {
  :root {
    --cell-size: 10.4vw;
    --mode-switch-btn-size: 4rem;
    --settings-btn-height: 3rem;
    --numpad-key-height: 4rem;
    --numpad-key-width: 9vw;
    --game-gui-width: 14rem;

    --cell-font-size: 2.8rem;
    --cell-font-size-center: 1.2rem;
    --cell-font-size-corner: 1rem;

  }
  .wrapper{
    width: 100%;
  }
}

 {
  /* DARK MODE */
  --clr-bg: #444;
  --clr-grid: #ccc;
  --clr-grid-hover: #aaa;
  --clr-highlight: #FFE4AA;

  --clr-font-main: #bbb;
  --clr-font-secondary: #5475B3;
}
